@tailwind base;
@tailwind components;
@tailwind utilities;


*, html {
  scroll-behavior: smooth !important;
  padding: 0;
  margin: 0;
}


body { 

  font-family: "Open Sans";
  
}
.mono {
  font-family: "Roboto mono";
}


.hero {
    background-image: url("./assets/gradient.png");
    background-position:center ;
    background-repeat: no-repeat;
    background-size: contain;
}

.ser {
  background-image: url("./assets/services/service-3.png");
  background-position:center ;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/services/service-3.png");
}


